* {
    margin: 0 auto;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    user-select: none;
}

#sketch-container {
    position: fixed;
    z-index: 0;
}

#menu {
    background-color: #0000007f; /* 7f makes it 50% opacity*/
    border: 2px solid #FFFFFF;

    position: absolute;
    z-index: 1;
}

p {
    color: #FFFFFF;
}

.jscolor {
    border: 2px solid #FFFFFF;

    width: 100px;
}